
<footer class="p-4  shadow md:flex md:items-center md:justify-between md:p-6 ">
    <span class="text-sm text-gray-500 sm:text-center ">© 2022 <a href="" class="hover:underline">Taha Elkarroumy Blog</a>. All Rights Reserved.
    </span>
    <div class="m-1">
        <a href="#" class="flex flex-col items-center  rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 ">
          <img class="m-1 w-70 h-70 rounded-full ring-2 ring-gray-400  " src="https://random.imagecdn.app/100/100" alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Taha Elkarroumy (Full stack Developer)</h5>
          <p class="mb-3 font-normal text-gray-700">Passionate programmer making scalable web applications using wide range of technologies like <b>NodeJs</b>,<b>MongoDb</b>,<b>React</b> & more ... </p>
          </div>
          </a>
       </div>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500  sm:mt-0">
    <li>
    <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
    </li>
    <li>
    <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
    </li>
    <li>
    <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
    </li>
    <li>
    <a href="#" class="hover:underline">Contact</a>
    </li>
    </ul>
    </footer>
    