<div class="shadow-md p-3 font-bold">
    <a class="p-2 hover:text-gray-500" href="/">Blog</a>
    <a class="p-2 hover:text-gray-500" href="https://twitter.com/ElkarroumyTaha">Twitter</a>
    <a class="p-2 hover:text-gray-500" href="https://medium.com/@elkarroumytaha">Medium</a>
    <a class="p-2 hover:text-gray-500" href="https://github.com/t-el">Github</a>
    <a class="p-2 hover:text-gray-500" href="">Forum</a>
   
</div>