<div class="shadow-md p-3 font-bold">
    <a class="p-2 hover:text-gray-500" href="">Blog</a>
    <a class="p-2 hover:text-gray-500" href="">Twitter</a>
    <a class="p-2 hover:text-gray-500" href="">Medium</a>
    <a class="p-2 hover:text-gray-500" href="">FAQ</a>
   
</div>